/*������*/
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg"), url("../fonts/Roboto-Regular.eot"), url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.svg#Roboto-Bold") format("svg"), url("../fonts/Roboto-Bold.eot"), url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Italic.ttf") format("truetype"), url("../fonts/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto-Italic.svg#Roboto-Italic") format("svg"), url("../fonts/Roboto-Italic.eot"), url("../fonts/Roboto-Italic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: italic;
}
/*
*����� �����
*/
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.6rem;
  color: #000;
  background: #fff;
}
/*
*�����������
*/
a {
  text-decoration: none;
  outline: none;
  color: #0091be;
}
a:focus,
a:hover {
  text-decoration: underline;
}
.title {
  font-size: 3.5rem;
}
.title_border {
  padding-bottom: 15px;
  border-bottom: 2px solid #eee;
}
.title_middle {
  font-size: 3rem;
}
.title_small {
  font-size: 2.4rem;
}
ul {
  list-style: none;
}
p {
  line-height: 2;
}
/*
*����� ��� ���������� ������ �����������
*/
/*
*каскад для предотвращения "схлопывания"
*/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
/*
*������� ����������� �������� ���� � ���������
*/
/*
*������� �������� ������
*/
.main-container {
  max-width: 940px;
  min-width: 1200px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.header {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 5px solid #fad027;
}
.logo {
  font-size: 2.4rem;
  width: 170px;
  float: left;
  line-height: 2rem;
}
.logo__inscription {
  color: #0091be;
  font-size: 1.6rem;
}
.section {
  border-bottom: 1px solid #eee;
  box-shadow: 0 -0.5rem 2rem #eee inset;
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.section__content {
  margin-top: 35px;
}
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #3c3838;
  color: #fff;
}
.copyright {
  float: left;
}
.developed {
  float: right;
}
.developed__link {
  color: #fff;
}
/*
*���������� ��������
*/
.menu {
  float: right;
  width: 30%;
}
.menu-list {
  padding-top: 15px;
}
.menu__link {
  color: #000;
}
.menu__link:focus,
.menu__link:hover {
  color: #0091be;
}
.menu-list__item {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: inline-block;
}
.menu-list__item:first-child {
  margin-left: 0;
}
.menu-list__item:last-child {
  margin-right: 0;
}
.progress-bars {
  margin-left: 20px;
  display: inline-block;
}
.about .progress-bars {
  width: 53%;
}
.progress-bar {
  margin-bottom: 30px;
}
.progress-bar:last-child {
  margin-bottom: 0;
}
.progress-bar__name {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 15px;
}
.progress-bar__value {
  height: 25px;
  background-color: #eee;
  border-radius: 0 5px 5px 0;
  width: 100%;
}
.progress-bar__value_blue span {
  height: 100%;
  display: inline-block;
  width: 90%;
  background-color: #0091be;
  border-radius: 0 5px 5px 0;
}
.progress-bar__value_green span {
  height: 100%;
  display: inline-block;
  width: 85%;
  background-color: #40c95d;
  border-radius: 0 5px 5px 0;
}
.progress-bar__value_yellow span {
  height: 100%;
  display: inline-block;
  width: 95%;
  background-color: #d7d93f;
  border-radius: 0 5px 5px 0;
}
.post {
  vertical-align: top;
}
.post__img {
  margin-bottom: 20px;
}
.post__inner {
  margin-top: 10px;
  margin-bottom: 20px;
}
.post__date,
.post__content {
  display: inline-block;
  vertical-align: top;
}
.post__date {
  width: 10%;
  margin-top: 10px;
}
.post__content {
  width: 85%;
}
.post__date {
  text-align: center;
}
.post__day {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: block;
  background-color: #eee;
}
.post__month {
  display: block;
  background-color: #0091be;
  color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.post__content {
  margin-left: 4%;
}
.post_addition .post__info {
  margin-bottom: 15px;
}
.post__author {
  float: left;
}
.post__tags {
  float: right;
}
.post__icon {
  margin-left: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  width: 12px;
  height: 12px;
}
.icon-avatar {
  background-image: url("../images/icons/avatar.svg");
}
.icon-tag {
  background-image: url("../images/icons/tags.svg");
}
.post__tag {
  display: inline-block;
  background-color: #0091be;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
}
.post_addition {
  width: 48%;
  display: inline-block;
  margin-top: 50px;
}
.post_addition:nth-child(2n+3) {
  margin-left: 44px;
}
/*
*������ ��������
*/
.banner {
  background-color: #0091be;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.benner__img {
  display: inline-block;
  vertical-align: middle;
}
.benner__inscription {
  font-size: 4.6rem;
  font-style: italic;
  width: 40%;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}
.about__info {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}
.project {
  position: relative;
  display: inline-block;
  width: 288px;
  height: 288px;
  margin-left: 12px;
  cursor: pointer;
  text-align: center;
}
.project:nth-child(4n+1) {
  margin-left: 0;
}
.project:nth-child(n+5) {
  margin-top: 20px;
}
.project:focus .project__replacement,
.project:hover .project__replacement {
  display: block;
}
.project .project__inscription {
  display: block;
  transform: translate(77%, 0);
  bottom: 139px;
  position: absolute;
}
.project__replacement {
  position: absolute;
  background-color: #0091be;
  color: #fff;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.contacts {
  background-image: url("../images/map.jpg");
  background-color: #e9e5dc;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
