.footer{
	background-color: #3c3838;
	color: #fff;
	font-size: 1.5rem;
}

.developed__link{
	color: #fff;
}

.copyright{
	float: left;
}

.developed{
	float: right;
}

@media screen and (min-width: 921px){
	
	.footer{
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

@media screen and (max-width: 920px){
	.footer{
		padding-top: 10px;
		padding-bottom: 10px;
	}
}