.main-container{
	min-width: 100px;
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

.page{
	position: relative;
	height: 100vh;
	box-sizing: border-box;
}

@media screen and (min-width: 921px){

	.page{
		padding-top: 78px;
	}
}

@media screen and (max-width: 920px) and (min-width: 641px){

	.page{
		padding-top: 71px;
	}
}

@media screen and (max-width: 640px){

	.page{
		padding-top: 127px;
	}
}