.progress-bar{
	
	&:last-child{
		margin-bottom: 0;
	}
}

.progress-bar__name{
	display: inline-block;
	font-weight: bold;
	margin-bottom: 15px;
}

.progress-bars__content{
	width: 100%;
	background-color: #eee;
	overflow: hidden;
}

.progress-bar__value, .progress-bars__content{
	border-radius: 0 5px 5px 0;
}

.progress-bar__value{
	height: 100%;
	animation: progress-bar__value 2s ease-in-out 1 normal; 
}

.progress-bar__value_blue{
    width: 90%;
	background-color: #0091be;
}

.progress-bar__value_green{
    width: 85%;
	background-color: #40c95d;
}

.progress-bar__value_yellow{
    width: 95%;
	background-color: #d7d93f;
}


@keyframes progress-bar__value{
	0%{
		transform: translate3d(-100%, 0, 0);
	}
	
   100%{
     transform: translate3d(0, 0, 0);
   }
}

@media screen and (min-width: 921px){

	.about .progress-bars{
		width: 52%;
	}
	
	.progress-bars{
		margin-left: 20px;
		display: inline-block;
		margin-bottom: 30px;
	}
	
	.progress-bar{
		margin-bottom: 30px;
	}
	
	.progress-bars__content{
		height: 25px;
	}
}

@media screen and (max-width: 920px){
	
	.progress-bar{
		margin-bottom: 20px;
	}
	
	.progress-bars__content{
		height: 15px;
	}
}