.header{
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 5px solid #fad027;
}

.logo{
	font-size: 2.4rem;
	line-height: 2rem;
}

.logo__inscription{
	color: #0091be;
	font-size: 1.6rem;
}

@media screen and (min-width: 641px){

	.logo{
		float: left;
		width: 170px;
	}
}

@media screen and (max-width: 640px){

	.header{
		text-align: center;
	}
	
	.logo__inscription{
		display: block;
		margin-bottom: 10px;
	}
}
