/*������*/
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg"), url("../fonts/Roboto-Regular.eot"), url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.svg#Roboto-Bold") format("svg"), url("../fonts/Roboto-Bold.eot"), url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Italic.ttf") format("truetype"), url("../fonts/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto-Italic.svg#Roboto-Italic") format("svg"), url("../fonts/Roboto-Italic.eot"), url("../fonts/Roboto-Italic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: italic;
}
/*
*����� �����
*/
* {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 921px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 920px) and (min-width: 641px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 640px) {
  html {
    font-size: 8px;
  }
}
body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.6rem;
  color: #000;
  background: #fff;
}
/*
*�����������
*/
.link {
  text-decoration: none;
  outline: none;
  color: #0091be;
}
.link:focus,
.link:hover {
  text-decoration: underline;
}
.link_black {
  color: #000;
}
.link_black:focus,
.link_black:hover {
  color: #0091be;
}
.title {
  font-size: 3.5rem;
  font-weight: normal;
}
.section__title {
  margin-bottom: 15px;
}
.title_middle {
  font-size: 3rem;
}
.title_small {
  font-size: 2.4rem;
}
ul {
  list-style: none;
}
p {
  line-height: 2;
}
/*
*����� ��� ���������� ������ �����������
*/
/*
*каскад для предотвращения "схлопывания"
*/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
/*
*������� ����������� �������� ���� � ���������
*/
/*
*������� �������� ������
*/
.main-container {
  min-width: 100px;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.page {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
}
@media screen and (min-width: 921px) {
  .page {
    padding-top: 78px;
  }
}
@media screen and (max-width: 920px) and (min-width: 641px) {
  .page {
    padding-top: 71px;
  }
}
@media screen and (max-width: 640px) {
  .page {
    padding-top: 127px;
  }
}
.header {
  position: fixed;
  top: 0;
  z-index: 999;
  min-width: 100%;
  background-color: #fff;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  border-bottom: 5px solid #fad027;
}
.logo {
  font-size: 2.4rem;
  line-height: 2rem;
}
.logo__inscription {
  color: #0091be;
  font-size: 1.6rem;
}
@media screen and (min-width: 641px) {
  .logo {
    float: left;
    width: 170px;
  }
}
@media screen and (max-width: 640px) {
  .header {
    text-align: center;
  }
  .logo__inscription {
    display: block;
    margin-bottom: 3rem;
  }
}
.section {
  border-bottom: 1px solid #eee;
  box-shadow: 0 -0.5rem 2rem #eee inset;
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.section__content {
  border-top: 2px solid #eee;
}
@media screen and (min-width: 921px) {
  .section__content {
    padding-top: 3.5rem;
  }
}
@media screen and (max-width: 920px) {
  .section__content {
    padding-top: 2.5rem;
  }
}
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #3c3838;
  color: #fff;
}
.developed__link {
  color: #fff;
}
@media screen and (min-width: 441px) {
  .copyright {
    float: left;
  }
  .developed {
    float: right;
  }
}
@media screen and (min-width: 440px) {
  .copyright {
    margin-bottom: 10px;
  }
}
/*
*���������� ��������
*/
.menu {
  float: right;
}
.menu-list {
  padding-top: 15px;
}
.menu-list__item {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: inline-block;
}
.menu-list__item:first-child {
  margin-left: 0;
}
.menu-list__item:last-child {
  margin-right: 0;
}
@media screen and (min-width: 641px) {
  .menu-mobile {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .menu-list {
    display: none;
  }
  .menu-mobile-list__item {
    margin-right: 10%;
    display: inline-block;
  }
  .menu-mobile-list__item:last-child {
    margin-right: 0;
  }
  .menu-mobile__name {
    display: block;
  }
  .menu-mobile__icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
  }
  .icon-about {
    background-image: url("../images/icons/user.svg");
  }
  .icon-project {
    background-image: url("../images/icons/document.svg");
  }
  .icon-blog {
    background-image: url("../images/icons/speech-bubble.svg");
  }
  .icon-contacts {
    background-image: url("../images/icons/email.svg");
  }
}
.progress-bar {
  margin-bottom: 30px;
}
.progress-bar:last-child {
  margin-bottom: 0;
}
.progress-bar__name {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 15px;
}
.progress-bars__content {
  width: 100%;
  height: 25px;
  background-color: #eee;
}
.progress-bar__value,
.progress-bars__content {
  border-radius: 0 5px 5px 0;
}
.progress-bar__value {
  height: 100%;
}
.progress-bar__value_blue {
  width: 90%;
  background-color: #0091be;
}
.progress-bar__value_green {
  width: 85%;
  background-color: #40c95d;
}
.progress-bar__value_yellow {
  width: 95%;
  background-color: #d7d93f;
}
@media screen and (min-width: 921px) {
  .about .progress-bars {
    width: 52%;
  }
  .progress-bars {
    margin-left: 20px;
    display: inline-block;
  }
}
.post {
  vertical-align: top;
}
.post__img {
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}
.post__inner {
  margin-top: 10px;
  margin-bottom: 20px;
}
.post__date,
.post__content {
  display: inline-block;
  vertical-align: top;
}
.post__date {
  width: 10%;
  text-align: center;
}
.post__day {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: block;
  background-color: #eee;
}
.post__month {
  display: block;
  background-color: #0091be;
  color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.post_addition .post__info {
  margin-bottom: 15px;
}
.post__author {
  float: left;
}
.tags__content {
  display: inline-block;
}
.post__icon {
  margin-left: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  width: 12px;
  height: 12px;
}
.icon-avatar {
  background-image: url("../images/icons/avatar.svg");
}
.icon-tag {
  background-image: url("../images/icons/tags.svg");
}
.post__tag {
  display: inline-block;
  background-color: #0091be;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
}
.post__tag:nth-child(n+3) {
  display: none;
}
@media screen and (min-width: 921px) {
  .post_addition {
    width: 48%;
    display: inline-block;
    margin-top: 50px;
  }
  .post_addition:nth-child(2n+3) {
    margin-left: 3.5%;
  }
  .post__date {
    margin-top: 10px;
  }
  .post__content {
    margin-left: 4%;
    width: 85%;
  }
  .post__tags {
    float: right;
  }
}
@media screen and (max-width: 920px) {
  .post {
    margin-bottom: 6rem;
    position: relative;
  }
  .post:last-child {
    margin-bottom: 0;
  }
  .post__author {
    display: none;
  }
  .post__tags {
    float: left;
  }
  .post__date {
    position: absolute;
    top: 0;
    right: 0;
  }
}
/*
*������ ��������
*/
.banner {
  background-color: #0091be;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.banner__inscription {
  font-size: 4.6rem;
  font-style: italic;
  color: #fff;
}
.banner__img {
  max-width: 100%;
  height: auto;
}
@media screen and (min-width: 921px) {
  .banner__img,
  .banner__inscription {
    display: inline-block;
    vertical-align: middle;
  }
  .banner__inscription {
    width: 40%;
  }
  /*.banner{
		padding-bottom: 50px;
	}*/
}
@media screen and (max-width: 920px) {
  .banner__inscription {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .mobile-preview {
    height: 100vh;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 921px) {
  .about__info {
    width: 45%;
    display: inline-block;
    vertical-align: top;
  }
}
@media screen and (max-width: 920px) {
  .about__info {
    width: 100%;
    margin-bottom: 20px;
  }
}
.project {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
.project:focus .project__replacement,
.project:hover .project__replacement {
  display: block;
}
.project .project__inscription {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.project__replacement {
  position: absolute;
  background-color: #0091be;
  color: #fff;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.project__img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 921px) {
  .project {
    width: 23.5%;
    margin-right: 1.56%;
  }
  .project:nth-child(4n) {
    margin-right: 0;
  }
  .project:nth-child(n+5) {
    margin-top: 1.56%;
  }
}
@media screen and (max-width: 920px) and (min-width: 641px) {
  .project {
    width: 31.5%;
    margin-right: 2.1%;
  }
  .project:nth-child(3n) {
    margin-right: 0;
  }
  .project:nth-child(n+4) {
    margin-top: 2.1%;
  }
}
@media screen and (max-width: 641px) {
  .project {
    width: 47.5%;
    margin-right: 3.5%;
  }
  .project:nth-child(2n) {
    margin-right: 0;
  }
  .project:nth-child(n+3) {
    margin-top: 3.5%;
  }
}
.contacts {
  background-image: url("../images/map.jpg");
  background-color: #e9e5dc;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
@media screen and (min-width: 921px) {
  .contacts {
    height: 450px;
  }
}
@media screen and (max-width: 920px) and (min-width: 641px) {
  .contacts {
    height: 350px;
  }
}
@media screen and (max-width: 640px) {
  .contacts {
    height: 300px;
  }
}
