/*������*/
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg"), url("../fonts/Roboto-Regular.eot"), url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.svg#Roboto-Bold") format("svg"), url("../fonts/Roboto-Bold.eot"), url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Italic.ttf") format("truetype"), url("../fonts/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto-Italic.svg#Roboto-Italic") format("svg"), url("../fonts/Roboto-Italic.eot"), url("../fonts/Roboto-Italic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: italic;
}
/*
*����� �����
*/
* {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 921px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 920px) and (min-width: 641px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 640px) {
  html {
    font-size: 8px;
  }
}
body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.6rem;
  color: #000;
  background: #fff;
}
/*
*�����������
*/
.link {
  text-decoration: none;
  outline: none;
  color: #0091be;
}
.link:focus,
.link:hover {
  text-decoration: underline;
}
.link_black {
  color: #000;
}
.link_black:focus,
.link_black:hover {
  color: #0091be;
}
.title {
  font-size: 3.5rem;
  font-weight: normal;
}
.section__title {
  margin-bottom: 15px;
}
.title_middle {
  font-size: 3rem;
}
.title_small {
  font-size: 2.4rem;
}
ul {
  list-style: none;
}
p {
  line-height: 2;
}
/*
*����� ��� ���������� ������ �����������
*/
/*
*каскад для предотвращения "схлопывания"
*/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
/*
*������� ����������� �������� ���� � ���������
*/
/*
*������� �������� ������
*/
.main-container {
  min-width: 300px;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 641px) {
  .main-container_align-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.banner,
.section,
.contacts,
.footer {
  min-width: 320px;
}
.header {
  min-width: 100%;
  background-color: #fff;
  padding-top: 1.5rem;
}
.logo {
  font-size: 2.4rem;
  line-height: 2rem;
  font-weight: 300;
}
.logo__inscription {
  color: #0091be;
  font-size: 1.6rem;
}
@media screen and (min-width: 641px) {
  .logo {
    width: 170px;
  }
  .header {
    padding-bottom: 2rem;
    border-bottom: 5px solid #fad027;
    top: 0;
    position: fixed;
    bottom: auto;
    z-index: 9;
  }
}
@media screen and (max-width: 640px) {
  .header {
    text-align: center;
  }
  .logo {
    margin-bottom: 3rem;
    margin-top: 2rem;
  }
  .logo__inscription {
    display: block;
  }
}
.section {
  border-bottom: 1px solid #eee;
  box-shadow: 0 -0.5rem 2rem #eee inset;
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.section__content {
  border-top: 2px solid #eee;
}
@media screen and (min-width: 921px) {
  .section__content {
    padding-top: 5rem;
  }
}
@media screen and (max-width: 920px) {
  .section__content {
    padding-top: 4rem;
  }
}
.footer {
  background-color: #3c3838;
  color: #fff;
  font-size: 1.5rem;
}
.developed__link {
  color: #fff;
}
.footer__align-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 921px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 920px) {
  .footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.preloader {
  position: fixed;
  z-index: 999;
  background-color: #0091be;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
}
.preloader__items {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.preloader__item {
  display: inline-block;
  vertical-align: middle;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  -webkit-animation: preloader 0.7s infinite alternate;
  animation: preloader 0.7s infinite alternate;
  background-color: #fff;
}
.preloader_1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.preloader_2 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.preloader_3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.preloader_4 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
@-webkit-keyframes preloader {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -3rem, 0);
    transform: translate3d(0, -3rem, 0);
  }
}
@keyframes preloader {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -3rem, 0);
    transform: translate3d(0, -3rem, 0);
  }
}
/*
*���������� ��������
*/
.menu-list__item {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: inline-block;
}
.menu-list__item:first-child {
  margin-left: 0;
}
.menu-list__item:last-child {
  margin-right: 0;
}
@media screen and (min-width: 641px) {
  .menu-mobile {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .menu-list {
    display: none;
  }
  .menu-mobile-list__item {
    margin-right: 10%;
    display: inline-block;
    width: 10%;
  }
  .menu-mobile-list__item:last-child {
    margin-right: 0;
  }
  .menu-mobile-list__item a {
    display: inline-block;
  }
  .menu-mobile__name {
    display: block;
  }
  .menu-mobile__icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
  }
  .menu-mobile {
    background-color: #fad027;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    z-index: 9;
  }
  /*id для плавного скрола*/
  #stickyalias {
    display: none;
    height: 55px;
  }
  .icon-about {
    background-image: url("../images/icons/user.svg");
  }
  .icon-project {
    background-image: url("../images/icons/document.svg");
  }
  .icon-blog {
    background-image: url("../images/icons/speech-bubble.svg");
  }
  .icon-contacts {
    background-image: url("../images/icons/email.svg");
  }
}
.progress-bar:last-child {
  margin-bottom: 0;
}
.progress-bar__name {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 15px;
}
.progress-bars__content {
  width: 100%;
  background-color: #eee;
  overflow: hidden;
}
.progress-bar__value,
.progress-bars__content {
  border-radius: 0 5px 5px 0;
}
.progress-bar__value {
  height: 100%;
  -webkit-animation: progress-bar__value 2s ease-in-out 1 normal;
  animation: progress-bar__value 2s ease-in-out 1 normal;
}
.progress-bar__value_blue {
  width: 90%;
  background-color: #0091be;
}
.progress-bar__value_green {
  width: 85%;
  background-color: #40c95d;
}
.progress-bar__value_yellow {
  width: 95%;
  background-color: #d7d93f;
}
@-webkit-keyframes progress-bar__value {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes progress-bar__value {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@media screen and (min-width: 921px) {
  .about .progress-bars {
    width: 52%;
  }
  .progress-bars {
    margin-left: 20px;
    display: inline-block;
    margin-bottom: 30px;
  }
  .progress-bar {
    margin-bottom: 30px;
  }
  .progress-bars__content {
    height: 25px;
  }
}
@media screen and (max-width: 920px) {
  .progress-bar {
    margin-bottom: 20px;
  }
  .progress-bars__content {
    height: 15px;
  }
}
.post {
  vertical-align: top;
  display: flex;
  flex-direction: column;
}
.post__img {
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}
.post__inner {
  margin-top: 10px;
  margin-bottom: 20px;
}
.post__date,
.post__content {
  display: inline-block;
  vertical-align: top;
}
.post__date {
  text-align: center;
}
.post__day {
  background-color: #eee;
}
.post__month {
  background-color: #0091be;
  color: #fff;
}
.post_addition .post__info {
  margin-bottom: 15px;
}
.tags__content {
  display: inline-block;
}
.post__icon {
  margin-left: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  width: 12px;
  height: 12px;
}
.icon-avatar {
  background-image: url("../images/icons/avatar.svg");
}
.icon-tag {
  background-image: url("../images/icons/tags.svg");
}
.post__tag {
  display: inline-block;
  background-color: #0091be;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
}
.post__tag:nth-child(n+3) {
  display: none;
}
@media screen and (min-width: 921px) {
  .post__info_align-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .post_addition {
    width: 48%;
    display: inline-block;
    margin-top: 50px;
  }
  .post_addition:nth-child(2n+3) {
    margin-left: 3.5%;
  }
  .post__date {
    margin-top: 10px;
    width: 10%;
  }
  .post__content {
    margin-left: 4%;
    width: 85%;
  }
  .post__day {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
  }
  .post__month {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media screen and (max-width: 920px) {
  .post {
    margin-bottom: 5rem;
    position: relative;
    border-bottom: 2px solid #eee;
    padding-bottom: 3.5rem;
  }
  .post:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
  }
  .post__author {
    display: none;
  }
  .post__date {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3rem;
  }
  .post__day {
    padding: 0.5rem 1rem;
  }
  .post__month {
    padding: 0.5rem 2rem;
  }
  .post__date_align-flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .post__info {
    order: 1;
  }
}
/*
*������ ��������
*/
.banner {
  background-color: #0091be;
  text-align: center;
}
.banner__inscription {
  font-style: italic;
  color: #fff;
}
.banner__img {
  max-width: 100%;
}
@media screen and (min-width: 921px) {
  .banner__img,
  .banner__inscription {
    display: inline-block;
    vertical-align: middle;
  }
  .banner__inscription {
    font-size: 4.6rem;
    width: 40%;
  }
  .banner__img {
    height: auto;
  }
}
@media screen and (max-width: 920px) {
  .banner__inscription {
    display: block;
    width: 100%;
    margin-top: 20px;
    font-size: 3.7rem;
  }
}
@media screen and (min-width: 641px) {
  .banner {
    padding-top: 14rem;
    padding-bottom: 5rem;
  }
}
@media screen and (max-width: 640px) {
  .banner {
    padding-top: 6rem;
    padding-bottom: 3rem;
  }
  .banner__img {
    height: 250px;
  }
}
@media screen and (min-width: 921px) {
  .about__info {
    width: 45%;
    display: inline-block;
    vertical-align: top;
  }
}
@media screen and (max-width: 920px) {
  .about__info {
    width: 100%;
    margin-bottom: 35px;
  }
}
.project {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
}
.project:focus .project__replacement,
.project:hover .project__replacement {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.project .project__inscription {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
}
.project__replacement {
  position: absolute;
  background-color: #0091be;
  color: #fff;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.project__img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 921px) {
  .project {
    width: 23.5%;
    margin-right: 1.56%;
  }
  .project:nth-child(4n) {
    margin-right: 0;
  }
  .project:nth-child(n+5) {
    margin-top: 1.2vw;
  }
}
@media screen and (max-width: 920px) and (min-width: 641px) {
  .project {
    width: 31.5%;
    margin-right: 2.1%;
  }
  .project:nth-child(3n) {
    margin-right: 0;
  }
  .project:nth-child(n+4) {
    margin-top: 2.04vw;
  }
}
@media screen and (max-width: 641px) {
  .project {
    width: 47.5%;
    margin-right: 3.5%;
  }
  .project:nth-child(2n) {
    margin-right: 0;
  }
  .project:nth-child(n+3) {
    margin-top: 3.34vw;
  }
}
.contacts {
  background-image: url("../images/map.jpg");
  background-color: #e9e5dc;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
@media screen and (min-width: 921px) {
  .contacts {
    height: 450px;
  }
}
@media screen and (max-width: 920px) and (min-width: 641px) {
  .contacts {
    height: 350px;
  }
}
@media screen and (max-width: 640px) {
  .contacts {
    height: 300px;
  }
}
